{% extends "FlexyFtwoStoreBundle:Layout:base.html.twig" %}

{% set images = flexy_ftwo_banner_image_list('home-banner').images %}
{% block content %}
	{% include 'FlexyFtwoStoreBundle:Include/Common:main-banner.html.twig' with {images: images} %}
	{% set images = flexy_ftwo_banner_image_list('home-mob').images %}
	{% include 'FlexyFtwoStoreBundle:Include/Common:main-banner-mob.html.twig' with {images: images} %}


    <section class="conteudoo{{ images|length == 0 ? "first-page-container" : "" }}">
        <div class="container">
                <div class="blocos">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="https://i.imgur.com/0Y77FM5.png" class="img-responsive" />
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="https://i.imgur.com/PgojGAT.png" class="img-responsive" />
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="https://i.imgur.com/uY9RkWl.png" class="img-responsive" />
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="https://i.imgur.com/OwpjuhE.png" class="img-responsive" />
                        </div>
                    </div>

                <div class="">
                    <div class="block-products-modes titulo-lista">

                        <a>Mais Vendidos</a>
                        <a href="#" class="filter-menu-btn hidden-lg hidden-md">Filtrar</a>
                    </div>

                    <div class="row">
                        {% include 'FlexyFtwoStoreBundle:Include:variant-list-block.html.twig' with {variants: f2_store_variant_list(null,{'order' : 'sales-asc'}).variants} %}
                    </div>
                </div>

                {% set gallery = flexy_ftwo_banner_image_list('banners-categorias') %}
                <div class="categorias">
                    <div class="container container-inove">
                        {% if gallery.images|length > 0 %}
                            {% for image in gallery.images %}
                                <div class="col-md-4 col-xs-6">
                                    <span class="categoria">
                                        <a href="{{ image.target }}"><img src="{{ image.path }}" class="img-responsive"></a>
                                    </span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="banners-meio">
                    <div class="block-products-modes titulo-lista" style="margin-bottom: 30px;">
                        <a>Orçamentos</a>
                    </div>
                    <div class="container container-inove">
                        <div class="col-md-6 col-sm-6">
                            <div id="banner1-orcamento" class="banner-meio">
                                <a href="https://www.liigo.com.br/orcamento">
                                    <img src="https://d8vlg9z1oftyc.cloudfront.net/liigo/image/media/imagembackgroundformularioliigojpg-5f57820541db9.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="banner2-orcamento" class="banner-meio" style="border: lightgrey 4px solid;">
                                <div style="width: 100%; padding-top: 46%; height: 0; position: relative; overflow: hidden;" class="text-left">
                                    <div style="position: absolute; top: 0; left: 0; padding-left: 10px; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;">
                                        <h2 style="margin-top: 15px; font-size: clamp(17px, 2.1vw, 30px);"><b>Uma solicitação, várias propostas</b></h2>
                                        <input id="dynamicSizeInput" placeholder="O que você está procurando?" style="padding: 7px; font-size: clamp(11px, 1.4vw, 20px); margin-left: 5px; width: 163px;">
                                        <span id="fakeElement" hidden></span>
                                        <p style="margin: 5px 5px; margin-right: 0; font-size: clamp(11px, 1.4vw, 20px); ">Encontre equipamentos, suprimentos, peças, serviços...</p>
                                        <a href="https://www.liigo.com.br/orcamento" class="btn btn-light-blue" style="margin-bottom: 15px; margin-left: 5px; font-size: clamp(11px, 1.4vw, 20px); ">Solicitar orçamentos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="block-products-modes titulo-lista">

                        <a>Ofertas</a>
                        <a href="#" class="filter-menu-btn hidden-lg hidden-md">Filtrar</a>
                    </div>

                        <div class="container">
                             {% include 'FlexyFtwoStoreBundle:Include:variant-list-block1.html.twig' with {variants: f2_store_variant_list('ofertas',{'order' : 'price-asc'}).variants} %}
                        </div>
                </div>


                {% set gallery = flexy_ftwo_banner_image_list('mini-banners1') %}
                <div class="banners-meio">
                    <div class="container container-inove">
                        {% if gallery.images|length > 0 %}
                            {% for image in gallery.images %}
                        <div class="col-md-6 col-xs-6">
                            <div class="banner-meio">
                                <a href="{{ image.target }}"><img src="{{ image.path }}" class="img-responsive"></a>
                            </div>
                        </div>
                           {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="">
                    <div class="block-products-modes titulo-lista">

                        <a>Destaques</a>
                        <a href="#" class="filter-menu-btn hidden-lg hidden-md">Filtrar</a>
                    </div>


                        <div class="container">
                           {% include 'FlexyFtwoStoreBundle:Include:variant-list-block2.html.twig' with {variants: f2_store_variant_list('destaques',{'order' : 'createdAt-desc'}).variants} %}
                        </div>
                </div>

                {% set gallery = flexy_ftwo_banner_image_list('mini-banners2') %}
                <div class="banners-meio">
                    <div class="container container-inove">
                        {% if gallery.images|length > 0 %}
                            {% for image in gallery.images %}
                        <div class="col-md-6 col-xs-6">
                            <div class="banner-meio esquerda">
                                <a href="{{ image.target }}"><img src="{{ image.path }}" class="img-responsive"></a>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="">
                    <div class="block-products-modes titulo-lista">

                        <a>Lançamentos</a>
                        <a href="#" class="filter-menu-btn hidden-lg hidden-md">Filtrar</a>
                    </div>

                        <div class="container">
                              {% include 'FlexyFtwoStoreBundle:Include:variant-list-block3.html.twig' with {variants: f2_store_variant_list(null,{'order' : 'createdAt-desc'}).variants} %}
                        </div>
                </div>
            </div>
        </div>
        <span class="whatsappbusiness">
            <a href="https://wa.me/5511966458116?text=Ol%C3%A1,%20bem%20vindo%20a%20Liigo!%20Como%20podemos%20te%20ajudar?" target="_blank"><img src="https://i.imgur.com/mx7RuPb.png" class="img-responsive" /></a>
        </span>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        function resizeInput() {
            console.log("On")
            let dynamicSizeInput = $("#dynamicSizeInput")
            const fakeElement = $("#fakeElement")
            fakeElement.text(dynamicSizeInput.attr('placeholder')).css('font', dynamicSizeInput.css('font'));
            const inputWidth = fakeElement.width() + 18;
            console.log(inputWidth)
            $("#dynamicSizeInput").css({
                width: inputWidth
            })
        }
        window.addEventListener("resize", resizeInput);
        $(document).ready(function () {
            resizeInput()
        })
    </script>
    {%  include 'FlexyFtwoStoreBundle:Javascript:_sidebar.html.twig' %}
{% endblock %}
